.search-form-input{
    min-width: 300px;
    height:fit-content;
    font-size: 22px;
    font-weight: 700;
    padding: 9px 20px;
    align-self:center;
    border-radius: 100px;
    border: 1px solid #337AB7;
    outline:none;
}
