.search-form-input{
    min-width: 300px;
    height:fit-content;
    font-size: 22px;
    font-weight: 700;
    padding: 8px;
    align-self:center;
    // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}