<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goit-js-hw-11</title>
  </head>
  <body>
    <form class="search-form" id="search-form">
      <input
        class="search-form-input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button type="submit" class="atuin-btn">Search</button>
    </form>
    <div class="gallery">
      <!-- Картки зображень -->
    </div>
    <!-- Цей div для скрипта infinitty-sckroll -->
    <div id="infinity-sckroll-point"></div>
    <!-- Ця кнопка для скрипта btn-sckroll -->
    <button type="button" class="load-more atuin-btn visually-hidden">
      Load more
    </button>
    <!-- Це кнопка для скрипта sckrollToTopBtn -->
    <button type="button" class="atuin-btn scroll-to-top unvisually">
      &#129045;
    </button>
  </body>
</html>
